
@{
    ViewBag.Title = "Catalog";
}
<h2>Pharmacology Catalog</h2>
<br />
<table class="table">
    <tr class="text-black text-center"><td >Assay Test</td><td>Short Code</td><td class="col-lg-2">Description</td></tr>
    <tr><td>DiscoveryScreen®</td><td class="text-center">(DS)</td><td>The DiscoveryScreen® Test is the test for you! This series of test will put your compound through the ringer! Do you think your's is strong enough to survive?</td></tr>
    <tr><td>ImmunoScreen®</td><td class="text-center">(IS)</td><td>The ImmunoScreen® Test is the test for you! This series of test will put your compound through the ringer! Do you think your's is strong enough to survive?</td></tr>
    <tr><td>ProfilingScreen®</td><td class="text-center">(PF)</td><td>The ProfilingScreen® Test is the test for you! This series of test will put your compound through the ringer! Do you think your's is strong enough to survive?</td></tr>
    <tr><td>PharmaScreen®</td><td class="text-center">(PS)</td><td>The PharmaScreen® Test is the test for you! This series of test will put your compound through the ringer! Do you think your's is strong enough to survive?</td></tr>
    <tr><td>CustomScreen™</td><td class="text-center">(CS)</td><td>The CustomScreen™ Test is the test for you! This series of test will put your compound through the ringer! Do you think your's is strong enough to survive?</td></tr>
</table>
