
@{
    ViewBag.Title = "ComingSoon";
}

<h2>Coming Soon</h2>
</ br>
<p>This feature is currently being constructed and will be ready soon.</p>

@Html.ActionLink("Home","Index", "Home", null, new { @class = "btn btn-default"})


