@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us.</h2>
<h3>@ViewBag.Message</h3>
<br />
<address>
    One Northwest Labs<br />
    Seattle, WA 98107<br />
    <abbr title="Phone">P:</abbr>
    (801) 400-1133
</address>

<address>
    <strong>Support:</strong>   (801) 529-6200<br />
</address>