@{
    ViewBag.Title = "";

    ViewBag.Home = "active";

    ViewBag.Banner =
        "<section class='banner-area' id='home'>" +
            "<div class='container'>" +
                "<div class='row fullscreen d-flex align-items-center'>" +
                    "<div class='banner-content col-lg-7 col-md-6 justify-content-center'>" +
                        "<h6 class='text-uppercase'>Your Resource For All Assay Analysis!</h6>" +
                        "<h1>Northwest Labs</h1>" +
                        "<p class='text-white'>" +
                            "An International Leader In Assay Testing of Pharmaceutical Drugs. We Promise Quick & Precise Drug Testing To Help Your Business Grow While Keeping Your Customers Healthy!" +
                        "</p>" +
                        "<a href='/Account/Login' class='primary-btn header-btn text-uppercase mt-10'>Get Started</a>" +
                    "</div>" +
                   "<div class='banner-img col-lg-5 col-md-6 align-self-end'>" +
                        "<img class='img-fluid' src='img/banner-img.png' alt=''>" +
                    "</div>" +
                "</div>" +
            "</div>" +
        "</section>"
    ;
}

<div class="row">
    <div class="col-md-4">
        <h3>Getting started</h3>
        <p>
            @ViewBag.output
        </p>
        <br />
        <p><a class="btn btn-default" href="@Url.Action("About", "Home", null)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>
            What is an Assay Analysis?
        </h3>
        <br />
        <p>
            An assay analysis is a set of physical, chemical, atomic, and biological tests that are conducted on a chemical compound or drug to determine its characteristics.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home", null)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>
            We want to hear from you!
        </h3>
        <br />
        <p>
            Recently had an Assay Analysis Completed? Let us know how it went! We aim to make your experience better.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Feedback","Home")">Submit Feedback &raquo;</a></p>
    </div>
</div>