@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    
        <a class="nav-item nav-link" href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>

    }
}
else
{

    <form class="form-inline">
        <a class="btn btn-outline-primary sign-in-link" href="@Url.Action("Login", "Account" , null)">Sign In</a>
    </form>

}
